upstream api {
    server backend:8000;
}

server {
    listen 8080;

    location /api/ {
        proxy_pass http://api/api/;
    }

    location /admin/ {
        proxy_pass http://api/admin/;
    }

    location /static/ {
        proxy_pass http://api/static/;
    }

    location /static/rest_framework/ {
        proxy_pass http://api/static/rest_framework/;
    }

    # ignore cache frontend
    location ~* (service-worker\.js)$ {
        add_header 'Cache-Control' 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
        expires off;
        proxy_no_cache 1;
    }

    location / {
      root /var/www/krok_power_frontend;
      try_files $uri $uri/ /index.html;
    }

}
